.main-container{
    margin-top: 30px;
    display: grid;
    background-color:rgb(205, 214, 218);
    height:600px;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
   border-radius: 10px;
place-content: center;

}
.container{
    display: grid;
    height: 450px;
    width: 900px;
   /* background-color: aliceblue; */
 grid-template-areas:
 "box1 box1 box2 box3"
 "box4 box5 box5 box3";
 place-items: center;
 grid-gap: 10px;
 margin-left: auto;
    margin-right: auto;

}
.box1{
    border: 1px solid black;
    padding: 10px;
    grid-area: box1;
background-color: blueviolet;
width: 400px;
height: 200px;
border-radius: 10px;
}
.box2{
    border: 1px solid black;
    padding: 10px;
    grid-area: box2;
  background-color: gray;  
  width: 215px;
height: 200px;
border-radius: 10px;
}
.box3{
    border: 1px solid black;
    padding: 10px;
    grid-area: box3;
  background-color: white;
  height: 430px; 
  width: 200px;
  border-radius: 10px;
}
.box4{
    border: 1px solid black;
    padding: 10px;
    grid-area: box4;
    background-color:white;
    width: 215px;
height: 200px;
border-radius: 10px;
}
.box5{
    border: 1px solid black;
    padding: 10px;
    grid-area: box5;
    background-color: black;
    width: 400px;
height: 200px;
border-radius: 10px;
}
.quote{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.quote1{
    font-family: Arial, Helvetica, sans-serif;
}
.prf{
    color: aliceblue;
}
.dan{
    color: white;
}
.box1img{
    height: 30px;
border-radius: 40px;
border:1px solid blueviolet;

}
.box2img{
    height: 30px;
border-radius: 40px;
border:1px solid blueviolet;

}
.box3img{
    height: 30px;
border-radius: 40px;
border:1px solid blueviolet;

}
.box4img{
    height: 30px;
border-radius: 40px;
border:1px solid blueviolet;

}
.box5img{
    height: 30px;
border-radius: 40px;
border:1px solid blueviolet;

}
.dan{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -32px;
    margin-left:40px;
}
.jon{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -32px;
    margin-left: 40px;
}
.kra{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -32px;
    margin-left: 40px;
}
.jan{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -32px;
    margin-left: 40px;
}
.pat{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -32px;
    margin-left: 40px;
}
.prf{
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -11px;
    margin-left: 40px;
}
.prfj{
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -11px;
    margin-left: 40px;
}
.prfk{
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -11px;
    margin-left: 40px;
}
.prfjan{
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -11px;
    margin-left: 40px;
}
.prfpat{
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -11px;
    margin-left: 40px;
    color: white;
}
.pat{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.parapat,.parak,.parajan{
color:lightslategrey;
/* font-size: 15px; */
font-family: Arial, Helvetica, sans-serif;
}
.paraj,.danp{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

@media(max-width:600px) {
    .box1,.box3{
        width: 80%;
       height: 400px;
    }
    .box2,.box4{
        width: 80%;
        height: 250px;
    }
    .box5{
        width: 80%;
        height: 350px;
    }
    .container{
       
    
        height:100%;
       width: auto;
    
        grid-template-areas:
     "box1"
     "box2"
     "box4"
     "box5"
     "box3";
    }

    .main-container{
        background-color:white;
      height: fit-content;
        width: auto;
     
    }
   
    }
